h1 {
    padding: 20px;
    margin: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
    line-height: 150%;
    color: rgb(4, 55, 78);
    background: white;
    text-align: center;
}

.tab {
    text-align: center
    }

.tablinks {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 200%;
    color: white;
    background: rgb(48, 47, 47);
    width: 20%;
}

#About-Me,
#Contact,
#Portfolio {
    border: 5px solid rgb(37, 37, 37);
    background: rgb(193, 194, 196);
    padding: 10px;
    margin: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: black;
    line-height: 150%;
    overflow: auto;
    clear: both;
}

.Bio-Pic {
    float: left;
}

.Bio-Words, {
    text-align: left;
    float: left;
    }

.Bio-Pic {
    padding: 0px 10px 10px 0px;
    margin: 10px;  
}

#Portfolio {
    text-align: left;
    }

#project {
    padding: 10px;
    margin: 20px;
}

#Contact {
    text-align: left;
    }

.forms {
    padding: 10px;
    margin: 10px;  
}

h3 {
    text-align: center;
    padding: 10px;
    margin: 20px;
    font-size: 24px;
    clear: right;
}